<footer class="pie-pagina">
    <div class="contenedor columnas-pie">
        <section>
            <h2>CANACO Tabasco</h2>
            <p>
                Información, capacitación y oportunidades para el
                fortalecimiento del comercio local.
            </p>
        </section>

        <section>
            <h2>Enlaces</h2>
            <a href="{% url 'home:index' %}">Inicio</a>
            <a href="#">Noticias</a>
            <a href="#">Eventos</a>
        </section>

        <section>
            <h2>Contacto</h2>
            <p>Villahermosa, Tabasco</p>
            <p>contacto@canacotabasco.mx</p>
        </section>
    </div>

    <div class="derechos">
        <p>
            &copy; 2026 CANACO Tabasco Noticias.
            Proyecto académico de Salvador Aolani.
        </p>
    </div>
</footer>